*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color:white;
}
.container{
	width: 83%;
	margin: auto;
	padding: 1rem 0rem;
}
.f-color{
	color: #cda45e;
}
.d-flex{
	display: flex;
}
.j-c-s-b{
	justify-content: space-between;
}
.j-c-s-a{
	justify-content: space-around;
}

body{
	font-family: "Open Sans", sans-serif;
}
header{
	background-image: url(../img/hero-bg.jpg);
	height: 100vh;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	position: relative;
	z-index: 0;
	display: block;
}
header::after{
	content:"";
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color:rgba(0,0,0,0.6);
	opacity:0.8;
    z-index: -1;
}
.head-content{
	padding: 0.5rem 0rem;
	font-size: 0.9rem;
	
	top: 0;
}
.head-content .top-info{
	width: 33%;
}
.head-content li{
	list-style: none;
	
}
.head-section{
	background-color:rgba(0,0,0,0.8);
	font-family:"Poppins",sans-serif;
	align-items:center;
	z-index:99;
	position: ;
	left: 0;
	right: 0;
}
.head-logo a{
	font-family: "Open Sans", sans-serif;
	font-size: 1.7rem;
	width: 10%;
	text-decoration: none;
}
.navbar{
	width: 85%;
}
.navbar .btn{
	width: 15%;
	border: 2px solid #cda45e;
	text-align: center;
	align-content: center;
	padding: 0.5rem;
	font-size: 0.7rem;
	border-radius: 2rem;
	text-decoration: none;
}
.navbar .btn:hover{
	background-color: #cda45e;
	transition: all 0.5s ease;
}
.navlist{
	width: 80%;
	margin: auto;
}
.navbar ul{
    padding: 0.4rem;
	list-style: none;
}
.navbar ul li a{
	font-size: 0.9rem;
	text-decoration: none;
	text-align: center;
	padding: 1rem;
}
.navbar ul li a:hover{
	color: #cda45e;
	transition: all 0.5s ease;
}
.banner-content{
	margin: 12% auto;
}
.banner-content h1{
	font-weight: 1000;
	font-size: 3rem;
}
.banner-content p{
	font-weight: 500;
	font-size: 20px;
	padding-bottom: 2rem;
}
.banner-btn{
	text-decoration: none;
	padding: 0.5rem 2rem;
	font-size: 12px;
	font-weight: bold;
	border: 2px solid #cda45e;
	border-radius: 30px;
}
.banner-btn:hover{
	background: #cda45e;
	transition: all 0.5s ease;
} 
/* about section*/
.about-section{
	background-color: ;
	background-image: url(../img/about-bg.jpg);
	height: 90vh;
	padding: ;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	position: relative;
	z-index: 0;
}
.about-section:after{
	content:"";
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color:rgba(0,0,0,0.6);
	opacity:0.8;
    z-index: -1;
}
.about{
	padding-top: 6%;
	position: relative;
}
.about-content{
	width: 50%;
	position: absolute;
	left: 0;
	margin: 0 1rem 0 0;
	line-height: 1.6rem;
}
.about-content h1{
	font-size: 26px;
	font-family: timesnewroman;
	padding: 0 0 8px;
}
.about-content p{
	margin: 0 0 16px;
}
.about-content .ul-type{
	font-size: 1.1rem;
	list-style: none;
}
.about-content .p-tag{
    margin: 18px 0 0 0;
}
.ul-type .pad{
	padding: 0 0 10px;
}
.about-image{
	width: 50%;
	position: absolute;
	right: 0;
}
.about-image .image{
	width: 100%;
	border: 4px solid rgb(255 255 255 / 20%);
	margin: 0 0 0 1rem;
}
.about-image:hover{
	transform: scale(1.05);
	transition: all 0.5s ease;
}
.why_us{
	background: #0c0b09;
	padding: ;
}
.why_us_title{
	padding: ;
}
.why_us_title .line{
	color: #6c757d;
	position: relative;
	padding: 2rem 0 0;
}
.why_us_title .line::after{
	content: '';
	width: 10%;
	height: 1px;
	top: 80%;
	left: 7%;
	background: #808080a1;
	position: absolute;
}
.why_us_title .h2{
	color: #cda45e;
	font-size: 2.5rem;
	padding: 0 0 2rem;
	font-family: "Playfair Display", serif;
}
.why_us_content{
	gap: 25px;
}
.why_us-1{
	padding: 50px 30px;
	width: 33%;
	background: #1a1814;
	margin: 0 0 3rem;
}
.why_us-1:hover{
	background: #cda45e;
	color: white;
	padding: 40px 30px;
	transition: all 1.5s ease;
}
.why_us-1:hover h1{
	color: white;
}
.why_us-1:hover h2{
	color: white;
}
.why_us_content h1{
	color: #cda45e;
	font-family: timesnewroman;
	font-size: 2rem;
}
.why_us_content h2{
	color: #b5b2b2;
	padding: 20px 0;
}

/*----------------------*/
.menu{
	width:100%;
	height:130vh;
	background-color:#1a1814;
}

.menuhead{
	padding:3.5rem 0;
}
.menuhead h4{
	font-size:1rem;
	color:#aaaaaa;
}
.menuhead h4::after{
	content:"";
	height: 1px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    margin: 4px 10px;
	width:120px;
}
.menuhead h1{
	font-size:2.5rem;
	padding-top:0.7rem;
	color:#cda45e;
}

.ulmenu{
	display:flex;
	justify-content:center;
}
.ulmenu li{
	list-style-type:none;
	padding:0.5rem 1rem;
}
.ulmenu a{
	text-decoration:none;
	color:#fff;
	font-weight:700;
}
.ulmenu a:hover{
	color:#cda45e;
	transition:0.3s ease-in-out;
}

.itemsflex{
    padding-top:3rem;
	display:flex;
	justify-content:space-between;
	width:100%;
}
.flexitem{
	width:49%;
}
.flexitem2{
	width:49%;
}
.item1{
	display:flex;
	padding-bottom:2.5rem;
	
}
.itemicon img{
	border-radius:50%;
	border:5px solid rgb(255,255,255,0.2);
}
.itemiconcontent{
	padding-left:1rem;
}
.itemiconcontent a::after{
	content:"..........................................";
	padding-left:1rem;
	padding-right:1rem;
	color:rgba(255,255,255,0.6);
	font-size:0.7rem;
	
}
.itemiconcontent a{
	text-decoration:none;
	color:#fff;
	font-size:1.3rem;
	font-weight:700;
}
.itemiconcontent a:hover{
	color:#cda45e;
	transition:0.3s ease-in-out;
}
.itemiconcontent span{
	color:#cda45e;
}
.itemiconcontent p{
	font-style:italic;
	font-size:1rem;
	color:rgba(255,255,255,0.5);
}
/*menu over*/

/*menu section start
.menu{
	background: #1a1814;
}
.menu_title .line{
	color: #6c757d;
	
	position: relative;
	padding: 2rem 0 0;
}
.menu_title .line::after{
	content: '';
	width: 10%;
	height: 1px;
	top: 80%;
	left: 7%;
	background: #808080a1;
	position: absolute;
}
.menu_title .h2{
	color: #cda45e;
	font-size: 2.5rem;
	padding: 0 0 2rem;
	font-family: "Playfair Display", serif;
}
.menu_types{
	text-align: center;
}
.menu_types a{
	text-decoration: none;
	padding: 1%;
	font-family: "Playfair Display", serif;
}
.menu_types a:hover{
	color: #cda45e;
	transition: all 0.5s ease;
}
.dishes{
	width: 50%;
}