*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color:white;
}
.container{
	width: 83%;
	margin: auto;
	padding: 1rem 0rem;
}
.f-color{
	color: #cda45e;
}
.d-flex{
	display: flex;
}
.j-c-s-b{
	justify-content: space-between;
}
.j-c-s-a{
	justify-content: space-around;
}

body{
	font-family: "Open Sans", sans-serif;
}
header{
	background-image: url(../img/hero-bg.jpg);
	height: 100vh;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	position: relative;
	z-index: 0;
	display: block;
}
header::after{
	content:"";
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color:rgba(0,0,0,0.6);
	opacity:0.8;
    z-index: -1;
}
.head-content{
	padding: 0.5rem 0rem;
	font-size: 0.9rem;
	
	top: 0;
}
.head-content .top-info{
	width: 33%;
}
.head-content li{
	list-style: none;
	
}
.head-section{
	background-color:rgba(0,0,0,0.8);
	font-family:"Poppins",sans-serif;
	align-items:center;
	z-index:99;
	position: ;
	left: 0;
	right: 0;
}
.head-logo a{
	font-family: "Open Sans", sans-serif;
	font-size: 1.7rem;
	width: 10%;
	text-decoration: none;
}
.navbar{
	width: 85%;
}
.navbar .btn{
	width: 15%;
	border: 2px solid #cda45e;
	text-align: center;
	align-content: center;
	padding: 0.5rem;
	font-size: 0.7rem;
	border-radius: 2rem;
	text-decoration: none;
}
.navbar .btn:hover{
	background-color: #cda45e;
	transition: all 0.5s ease;
}
.navlist{
	width: 80%;
	margin: auto;
}
.navbar ul{
    padding: 0.4rem;
	list-style: none;
}
.navbar ul li a{
	font-size: 0.9rem;
	text-decoration: none;
	text-align: center;
	padding: 1rem;
}
.navbar ul li a:hover{
	color: #cda45e;
	transition: all 0.5s ease;
}
.banner-content{
	margin: 12% auto;
}
.banner-content h1{
	font-weight: 1000;
	font-size: 3rem;
}
.banner-content p{
	font-weight: 500;
	font-size: 20px;
	padding-bottom: 2rem;
}
.banner-btn{
	text-decoration: none;
	padding: 0.5rem 2rem;
	font-size: 12px;
	font-weight: bold;
	border: 2px solid #cda45e;
	border-radius: 30px;
}
.banner-btn:hover{
	background: #cda45e;
	transition: all 0.5s ease;
} 
/* about section*/
.about-section{
	background-color: ;
	background-image: url(../img/about-bg.jpg);
	height: 90vh;
	padding: ;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	position: relative;
	z-index: 0;
}
.about-section:after{
	content:"";
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color:rgba(0,0,0,0.6);
	opacity:0.8;
    z-index: -1;
}
.about{
	padding-top: 6%;
	position: relative;
}
.about-content{
	width: 50%;
	position: absolute;
	left: 0;
	margin: 0 1rem 0 0;
	line-height: 1.6rem;
}
.about-content h1{
	font-size: 26px;
	font-family: timesnewroman;
	padding: 0 0 8px;
}
.about-content p{
	margin: 0 0 16px;
}
.about-content .ul-type{
	font-size: 1.1rem;
	list-style: none;
}
.about-content .p-tag{
    margin: 18px 0 0 0;
}
.ul-type .pad{
	padding: 0 0 10px;
}
.about-image{
	width: 50%;
	position: absolute;
	right: 0;
}
.about-image .image{
	width: 100%;
	border: 4px solid rgb(255 255 255 / 20%);
	margin: 0 0 0 1rem;
}
.about-image:hover{
	transform: scale(1.05);
	transition: all 0.5s ease;
}
.why_us{
	background: #0c0b09;
	padding: ;
}
.why_us_title{
	padding: ;
}
.why_us_title .line{
	color: #6c757d;
	position: relative;
	padding: 2rem 0 0;
}
.why_us_title .line::after{
	content: '';
	width: 10%;
	height: 1px;
	top: 80%;
	left: 7%;
	background: #808080a1;
	position: absolute;
}
.why_us_title .h2{
	color: #cda45e;
	font-size: 2.5rem;
	padding: 0 0 2rem;
	font-family: "Playfair Display", serif;
}
.why_us_content{
	gap: 25px;
}
.why_us-1{
	padding: 50px 30px;
	width: 33%;
	background: #1a1814;
	margin: 0 0 3rem;
}
.why_us-1:hover{
	background: #cda45e;
	color: white;
	padding: 40px 30px;
	transition: all 1.5s ease;
}
.why_us-1:hover h1{
	color: white;
}
.why_us-1:hover h2{
	color: white;
}
.why_us_content h1{
	color: #cda45e;
	font-family: timesnewroman;
	font-size: 2rem;
}
.why_us_content h2{
	color: #b5b2b2;
	padding: 20px 0;
}

/*----------------------*/
.menu{
	width:100%;
	height:130vh;
	background-color:#1a1814;
}

.menuhead{
	padding:3.5rem 0;
}
.menuhead h4{
	font-size:1rem;
	color:#aaaaaa;
}
.menuhead h4::after{
	content:"";
	height: 1px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    margin: 4px 10px;
	width:120px;
}
.menuhead h1{
	font-size:2.5rem;
	padding-top:0.7rem;
	color:#cda45e;
}

.ulmenu{
	display:flex;
	justify-content:center;
}
.ulmenu li{
	list-style-type:none;
	padding:0.5rem 1rem;
}
.ulmenu a{
	text-decoration:none;
	color:#fff;
	font-weight:700;
}
.ulmenu a:hover{
	color:#cda45e;
	transition:0.3s ease-in-out;
}

.itemsflex{
    padding-top:3rem;
	display:flex;
	justify-content:space-between;
	width:100%;
}
.flexitem{
	width:49%;
}
.flexitem2{
	width:49%;
}
.item1{
	display:flex;
	padding-bottom:2.5rem;
	
}
.itemicon img{
	border-radius:50%;
	border:5px solid rgb(255,255,255,0.2);
}
.itemiconcontent{
	padding-left:1rem;
}
.itemiconcontent a::after{
	content:"..........................................";
	padding-left:1rem;
	padding-right:1rem;
	color:rgba(255,255,255,0.6);
	font-size:0.7rem;
	
}
.itemiconcontent a{
	text-decoration:none;
	color:#fff;
	font-size:1.3rem;
	font-weight:700;
}
.itemiconcontent a:hover{
	color:#cda45e;
	transition:0.3s ease-in-out;
}
.itemiconcontent span{
	color:#cda45e;
}
.itemiconcontent p{
	font-style:italic;
	font-size:1rem;
	color:rgba(255,255,255,0.5);
}
/*menu over*/
.special{
	background-color:#0c0b09;
	height:80vh;
	width:100%;
	padding:3.5rem 0;
	color:#fff;
}
.specialhead h4{
	font-size:1rem;
	color:#aaaaaa;
}
.specialhead h4::after{
	content:"";
	height: 1px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    margin: 4px 10px;
	width:120px;
}
.specialhead h1{
	font-size:2.5rem;
	padding-top:0.7rem;
	color:#cda45e;
}
.specialcontentflex{
	padding:2.5rem 0;
	display:flex;
	justify-content:space-between;
	width:100%;
}
.modi{
	width:60%;
}

.ulspecial{
	border-right:2px solid #cda45e;
}
.ulspecial li{
	list-style-type:none;
	padding-top:0.7rem;
	padding-bottom:0.7rem;
	padding-left:1rem;
	
}
.modilink{
	background-color:#cda45e;
	
}
.ulspecial .modilink a{
	color:rgba(0,0,0);
}
.ulspecial .modilink a:hover{
	color:rgba(0,0,0);
}
.ulspecial li a{
	text-decoration:none;
	color:#fff;
	font-size:1.2rem;
}
.ulspecial li a:hover{
	color:#cda45e;
	transition:0.3s ease-in-out;
}
.autemflex{
	display:flex;
	justify-content:space-between;
}
.autemflex{
	padding:0 1rem;
}
.autemcontent h2{
	font-size:2rem;
	padding-bottom:1rem;
}
.autemcontent .qui{
	font-style:italic;
	font-size:1.2rem;
	padding-bottom:1rem;
	color:rgba(255,255,255,0.6);
}
.autemcontent .paraautem{
	
	font-size:1.2rem;
	padding-bottom:1rem;
	color:rgba(255,255,255,0.6);
}
/*Special over*/
.event{
	background-image:url(../image/events-bg.jpg);
	width:100%;
	height:95vh;
	background-size:cover;
	background-attachment:fixed;
	position:relative;
	z-index:0;
}
.event::before{
	content:"";
	background-color:rgba(0,0,0,0.6);
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index:-1;
}
.eventfull{
	z-index:1;
	color:white;
	
	padding:3.5rem 0;
}
.eventcontent h4{
	font-size:1rem;
	color:#aaaaaa;
}
.eventcontent h4::after{
	content:"";
	height: 1px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    margin: 4px 10px;
	width:120px;
}
.eventcontent h1{
	font-size:2.5rem;
	padding-top:0.7rem;
	color:#cda45e;
}
.eventflex{
	padding:3rem 0;
	display:flex;
	justify-content:space-between;
	width:100%;
}
.eventimg{
    width:49%;
}
.eventimgcontent{
     width:49%;
}
.eventimgcontent h3{
	font-size:1.6rem;
	color:#cda45e;
	padding-bottom:1rem;
}
.eventimgcontent span{
	font-size:1.8rem;
	font-weight:700;
	
}
.lorempara{
	padding-top:1rem;
	font-size:1.2rem;

	font-style:italic;
}
.eventlist li{
	list-style-type:none;
	padding-top:1rem;
	font-size:1.2rem;
}
.nisi{
	padding-top:1.5rem;
	font-size:1.1rem;
}
/**Event over**/
.reservation{
	width:100%;
	height:85vh;
	background-color:#0c0b09;
	color:#fff;
	padding:3.5rem 0;
}
.reservationhead h4{
	font-size:1rem;
	color:#aaaaaa;
}
.reservationhead h4::after{
	content:"";
	height: 1px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    margin: 4px 10px;
	width:120px;
}
.reservationhead h1{
	font-size:2.5rem;
	padding-top:0.7rem;
	color:#cda45e;
}
.firstform{
	padding:2.5rem 0;
}
.formflex{
	display:flex;
	flex-wrap:wrap;
	width:100%;
}
.input1{
	padding:1rem 0.5rem;
	
}
.input1 .forminput{
	height:2.3rem;
	width:360px;
	font-size: 14px;
    padding:0.5rem;
}
.textarea{
	padding:1rem 0.5rem;
}
.textarea textarea{
	width:99%;
     padding:0.5rem; 
	height:15vh;
}
.buttonform{
	text-align:center;
}
.formbut{
	padding:1rem 2.5rem;
	border-radius:50px;
	font-size:1rem;
	color:#fff;
	background-color:#cda45e;
}
/**Form over**/
.testimonal{
	background-color:#1a1814;
	width:100%;
	height:80vh;
	padding:3.5rem 0;
	
}
.testcontent1 h4{
	font-size:1rem;
	color:#aaaaaa;
}
.testcontent1 h4::after{
	content:"";
	height: 1px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    margin: 4px 10px;
	width:120px;
}
.testcontent1 h1{
	font-size:2.5rem;
	padding-top:0.7rem;
	color:#cda45e;
}
.testflex{
	display:flex;
	justify-content:space-between;
	width:100%;
	padding:3rem 0;
}
.testbox{
	width:30%;
	
}
.testbox p{
	color:#fff;
	font-size:1.1rem;
	padding:1.5rem;
	padding-bottom:4rem;
	line-height:1.5rem;
	background-color:#26231d;
	font-style:italic;
	border-radius:0.5rem;
}
.testbox img{
	border-radius:50%;
	border:6px solid rgba(255,255,255,0.2);
	margin-top:-2.5rem;
	margin-left:1.5rem;
	
}
.testbox h3{
	font-size:1.5rem;
	color:#fff;
	margin-left:1.5rem;
}
.testbox h4{
	color:rgba(255,255,255,0.6);
	margin-left:1.5rem;
}
/**Testimonal over**/
.gallery{
	background-color:#0c0b09;
	padding:3.5rem 0;
	width:100%;
	height:110vh;
	
}
.galleryhead h4{
	font-size:1rem;
	color:#aaaaaa;
}
.galleryhead h4::after{
	content:"";
	height: 1px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    margin: 4px 10px;
	width:120px;
}
.galleryhead h1{
	font-size:2.5rem;
	padding-top:0.7rem;
	color:#cda45e;
}
.galleryimgflex{
	
	display:flex;
	flex-wrap:wrap;
	padding-top:2rem;
	padding-left:1rem;
	padding-right:1rem;
	
}
.galleryimg{
	overflow:hidden;
	
}
.galleryimg img:hover{
	transform:scale(1.1);
	
	transition:0.3s;
}
/**Gallery over**/
.chefs{
	padding:3.5rem 0;
	background-color:#0c0b09;
	width:100%;
	height:90vh;
}
.chefshead h4{
	font-size:1rem;
	color:#aaaaaa;
}
.chefshead h4::after{
	content:"";
	height: 1px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    margin: 4px 10px;
	width:120px;
}
.chefshead h1{
	font-size:2.5rem;
	padding-top:0.7rem;
	color:#cda45e;
}
.chefsimgflex{
	padding:2rem 0;
	display:flex;
	justify-content:space-between;
}
/**Chefs over**/
.contact{
	padding:3.5rem 0;
	background-color:#0c0b09;
	width:100%;
	height:80vh;
}
.contacthead h4{
	font-size:1rem;
	color:#aaaaaa;
}
.contacthead h4::after{
	content:"";
	height: 1px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    margin: 4px 10px;
	width:120px;
}
.contacthead h1{
	font-size:2.5rem;
	padding-top:0.7rem;
	color:#cda45e;
}
.map{
	padding-top:2rem;
}
/**Contact over**/
.location{
	padding:3.5rem 0;
	background-color:#0c0b09;
	width:100%;
	height:80vh;
	color:white;
}
.locationflex{
	display:flex;
	width:100%;
	
}
.locationicons{
	display:flex;
	padding-bottom:3rem;
	align-items:center;
	
	
}
.locicon i{
	border:2px solid #cda45e;
	background-color:#cda45e;
	font-size:1.3rem;
	padding:8px;
	border-radius:50%;
}
.lociconflex {
	padding-left:1rem;
}
.lociconflex h4{
	font-size:1.3rem;
	margin-bottom:5px;
}
.lociconflex p{
	color:rgba(255,255,255,0.6);
}
.contactform{
	padding:0 2rem;
	width:100%;
}
.formcont{
	width:100%;
}
.firstflex{
	display:flex;
	justify-content:space-between;
	width:100%;
}.name{
	margin-bottom:2rem;
}
.name input{
	width:400px;
	height:6vh;
	padding:1rem 1rem;
}
.subject{
	margin-bottom:2rem;
}
.subject input{
	width:100%;
	height:6vh;
	padding:1rem 1rem;
}
.meg textarea{
	width:100%;
	height:30vh;
	padding:1rem 1rem;
}
.contactbut{
	margin:1rem 0;
	text-align:center;
}
.conbut{
	padding:1rem 2rem;
	border-radius:30px;
	color:#fff;
	background-color:#cda45e;
}
/**Loaction over**/
footer{
	padding-top:3.5rem;
	background-color:#0c0b09;
	width:100%;
	height:70vh;
	color:#fff;
	border-top:1px solid gray;
}
.footflex{
	display:flex;
	justify-content:space-between;
	padding-bottom:3.5rem;
}
.foot1 h3{
	font-size:1.5rem;
	padding-bottom:1rem;
}
.foot1 p{
	line-height:1.5rem;
}
.footicon{
	display:flex;
	justify-content:space-between;
	padding-top:2rem;
}
.footicon a{
	text-decoration:none;
	color:#fff;
	border:1px solid #28251f;
	background-color:#28251f;
	padding:0.6rem;
	width:36px;
	border-radius:50%;
	
}
.footicon a:hover{
	background-color:#cda45e;
	transition:0.3s ease-in-out;
}
.foot2 h4{
	font-size:1.3rem;
	padding-bottom:1.5rem;
}
.ulfoot1 li{
	list-style-type:none;
	padding-bottom:1.2rem;
}
.ulfoot1 li i{
	color:#cda45e;
} 
.ulfoot1 li a{
	text-decoration:none;
	color:white;
}
.ulfoot1 li a:hover{
	color:#cda45e;
}
.footlast h4{
	font-size:1.3rem;
	margin-bottom:1rem;
}
.footlast p{
	margin-bottom:2rem;
}
.sub{
	padding: 6px 10px;
    position: relative;
    border-radius: 50px;
    border: 1px solid #454035;
	margin-top: 30px;
    background: #28251f;
	width:80%;
}
.subin{
	border: 0;
    padding: 4px;
    width: calc(100% - 110px);
    background: #28251f;
    color: white;
}
.butsub{
	padding: 0 20px 2px 20px;
    background: #cda45e;
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
	position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    border: 0;
}
.footcopy{
	width:100%;
	text-align:center;
	padding:2rem 0;
	border-top:1px solid gray;
	background-color:black;
}
.copyright{
	margin-bottom:0.8rem;
}
.boot a{
	text-decoration:none;
	color:#cda45e;
}
/**Footer over**/


/*menu section start
.menu{
	background: #1a1814;
}
.menu_title .line{
	color: #6c757d;
	
	position: relative;
	padding: 2rem 0 0;
}
.menu_title .line::after{
	content: '';
	width: 10%;
	height: 1px;
	top: 80%;
	left: 7%;
	background: #808080a1;
	position: absolute;
}
.menu_title .h2{
	color: #cda45e;
	font-size: 2.5rem;
	padding: 0 0 2rem;
	font-family: "Playfair Display", serif;
}
.menu_types{
	text-align: center;
}
.menu_types a{
	text-decoration: none;
	padding: 1%;
	font-family: "Playfair Display", serif;
}
.menu_types a:hover{
	color: #cda45e;
	transition: all 0.5s ease;
}
.dishes{
	width: 50%;
}