.container{
	margin: 20px 10px;
}
body{
	font-family: 'roboto', sans-serif;
}

/* header section start*/
header{
	line-height: 1rem;
	text-align: center;
}
header h1{
	font-size: 1.1rem;
	font-weight: bold;
	padding-bottom: 0.2rem;
}
header h2{
	font-size: 0.6rem;
}
header p{
	font-size: 0.6rem;
}
/*head section media start*/
@media (min-width: 390px){
	.container{
		margin: 25px 20px;
	}
	header{
		line-height: ;
	}
	header h1{
		font-size: 1.5rem;
		padding-bottom: 0.5rem;
	}
	header h2{
		font-size: 0.8rem;
		padding-bottom: 0.2rem;
	}
	header p{
		font-size: 0.7rem;
	}
}
@media (min-width: 768px){
	.container{
		margin: 25px 30px;
	}
	header{
		line-height: 1.5rem;
	}
	header h1{
		font-size: 2rem;
		padding-bottom: 0.5rem;
	}
	header h2{
		font-size: 1rem;
	}
	header p{
		font-size: 1rem;
	}
}
	@media (min-width: 1024px){
	.container{
		margin: 30px 50px;
	}
	header{
		line-height: 2rem;
	}
	header h1{
		font-size: 2.5rem;
		padding-bottom: 0.5rem;
	}
	header h2{
		font-size: 1.2rem;
	}
	header p{
		font-size: 1.2rem;
	}
}
/*head section media end*/
/* header section end*/


/* section starts*/
.section{
	line-height: 1rem;
}
.section h2{
	font-size: 0.8rem;
	font-weight: bold;
	padding-bottom: 5px;
}
.section p{
	font-size: 0.6rem;
	text-align: justify;
}
/*media start*/

@media (min-width: 390px){
	.section{
		line-height: 1rem;
	}
	.section h2{
		font-size: 1.1rem;
		padding-bottom: 5px;
	}
	.section p{
		font-size: 0.8rem;
	}	
}
@media (min-width: 768px){
	.section{
		line-height: 1.3rem;
	}
	.section h2{
		font-size: 1.5rem;
		padding-bottom: 1rem;
	}
	.section p{
		font-size: 1rem;
		text-align: justify;
	}	
}
@media (min-width: 1024px){
	.section{
		line-height: 1.5rem;
	}
	.section h2{
		font-size: 1.7rem;
		padding-bottom: 1rem;
	}
	.section p{
		font-size: 1.2rem;
	}	
}
/*media end*/
/* section ends*/

/*academic section start*/
.academic h2{
	font-size: 0.8rem;
	font-weight: bold;
	padding-bottom: 0.4rem;
}
.sub-section{
	padding-bottom: 0.4rem;
}
.sub-section h3{
	font-size: 0.7rem;
	font-weight: bold;
	padding-bottom: 0.1rem;
}
.sub-section p{
	font-size: 0.6rem;
	padding-bottom: 0.1rem;
}
/*media start*/
@media (min-width: 390px){
	.sub-section{
		padding-bottom: 0.5rem;
	}
	.academic h2{
	font-size: 1.1rem;
	font-weight: bold;
	padding-bottom: 0.5rem;
	}
	.sub-section h3{
		font-size: 0.8rem;
		font-weight: bold;
		padding-bottom: 0.2rem;
	}
	.sub-section p{
		font-size: 0.8rem;
		padding-bottom: 0.2rem;
	}
}
@media (min-width: 768px){
	.sub-section{
		padding-bottom: 0.5rem;
	}
	.academic h2{
	font-size: 1.5rem;
	font-weight: bold;
	padding-bottom: 1rem;
	}
	.sub-section h3{
		font-size: 1rem;
		font-weight: bold;
		padding-bottom: 0.4rem;
	}
	.sub-section p{
		font-size: 1rem;
		padding-bottom: 0.4rem;
	}
}
@media (min-width: 1024px){
	.sub-section{
		padding-bottom: 0.8rem;
	}
	.academic h2{
	font-size: 1.7rem;
	font-weight: bold;
	padding-bottom: 1rem;
	}
	.sub-section h3{
		font-size: 1.2rem;
		font-weight: bold;
		padding-bottom: 0.5rem;
	}
	.sub-section p{
		font-size: 1.2rem;
		padding-bottom: 0.4rem;
	}
}
/*media end */
/*academic section end*/

/*skill section start*/
.skill h2{
	font-size: 0.8rem;
	font-weight: bold;
	padding-bottom: 0.3rem;
}
.skill table td{
	border: 1px solid #b9b1b1ab;
	padding: 0.5rem;
}
.skill table h3{
	font-size: 0.7rem;
	font-weight: bold;
	padding-bottom: 0.1rem;
}
.skill table p{
	font-size: 0.6rem;
}
.skill table{
	width: 100%;
}
.skill ul{
	list-style: disc;
}
.skill li{
	margin-left: 3rem;
	font-size: 0.6rem; 
}
/*media start*/
@media (min-width: 390px){
	.skill h2{
		font-size: 1.1rem;
		padding-bottom: 0.5rem;
		}
	.skill table h3{
		font-size: 0.8rem;
		padding-bottom: 0.5rem;
		}
	.skill table p{
		font-size: 0.8rem;
		}	
	.skill li{
		font-size: 0.8rem; 
		}
}
@media (min-width: 768px){
	.skill h2{
		font-size: 1.5rem;
		padding-bottom: 1rem;
		}
	.skill table h3{
		font-size: 1rem;
		padding-bottom: 0.4rem;
		}
	.skill table p{
		font-size: 1rem;
		}	
	.skill li{
		font-size: 1rem; 
		}
}
@media (min-width: 1024px){
	.skill h2{
		font-size: 1.7rem;
		padding-bottom: 1rem;
		}
	.skill table h3{
		font-size: 1.2rem;
		padding-bottom: 0.5rem;
		}
	.skill table p{
		font-size: 1.2rem;
		}	
	.skill li{
		font-size: 1.2rem; 
		}
}
/*media end*/
/*skill section end*/

/*Technical section start*/
.technical h2{
	font-size: 0.8rem;
	font-weight: bold;
	padding-bottom: 0.5rem;
}
.d-flex{
	display: flex;
	margin-bottom: 0.5rem;
}
.tech1{
	width: 50%;
}
.tech2{
	width: 50%;
}
.tech h3{
	font-size: 0.6rem;
	color: #169cc5;
	font-weight: bold;
	padding-bottom: 0.2rem;
}
.tech p{
	font-size: 0.6rem;
}
/*media start*/
@media (min-width: 390px){
	.technical h2{
		font-size: 1.1rem;
		padding-bottom: 0.5rem;
	}
	.tech h3{
		font-size: 0.8rem;
		padding-bottom: 0.2rem;
	}
	.tech p{
		font-size: 0.8rem;
	}
}
@media (min-width: 768px){
	.technical h2{
		font-size: 1.5rem;
		padding-bottom: 1rem;
	} 
	.d-flex{
		padding-bottom: 1rem;
	}
	.tech h3{
		font-size: 1rem;
		padding-bottom: 0.5rem;
	}
	.tech p{
		font-size: 1rem;
	}
}
@media (min-width: 1024px){
	.technical h2{
		font-size: 1.7rem;
		padding-bottom: 1rem;
	} 
	.d-flex{
		padding-bottom: 1rem;
	}
	.tech h3{
		font-size: 1.2rem;
		padding-bottom: 0.5rem;
	}
	.tech p{
		font-size: 1.2rem;
	}
}
/*media end*/
/*Technical section end*/

/*projects start*/
.projects table{
	width: 100%;
}
table{
	margin-bottom: 2rem;
}
.projects h2{
	font-size: 0.8rem;
	font-weight: bold;
	padding-bottom: 0.5rem;
}
.table tr{
	border: 1px solid #b9b1b1ab;
}
.table td{
	padding: 0.4rem;
}
.table h3{
	font-size: 0.7rem;
	font-weight: bold;
	padding-bottom: 0.2rem;
}
.table a{
	font-size: 0.7rem;
	color: #169cc5;
}
.table p{
	font-size: 0.6rem;
}
.li-disc{
	list-style: disc;
	margin-left: 3rem;
	font-size: 0.6rem;
}
/*media start*/
@media (min-width: 360px){
	.projects h2{
		font-size: 1.1rem;
		padding-bottom: 0.5rem;
	}
	.table td{
		padding: 0.3rem;
	}
	.table h3{
		font-size: 0.8rem;
		padding-bottom: 0.1rem;
	}
	.table a, .table p, .li-disc{
		font-size: 0.8rem;
	}
}
@media (min-width: 768px){
	.projects h2{
		font-size: 1.5rem;
		padding-bottom: 1rem;
	}
	.table td{
		padding: 0.5rem;
	}
	.table h3{
		font-size: 1rem;
		padding-bottom: 0.4rem;
	}
	.table a, .table p, .li-disc{
		font-size: 1rem;
	}
}
@media (min-width: 1024px){
	.projects h2{
		font-size: 1.7rem;
		padding-bottom: 1rem;
	}
	.table td{
		padding: 0.5rem;
	}
	.table h3{
		font-size: 1.2rem;
		padding-bottom: 0.5rem;
	}
	.table a, .table p, .li-disc{
		font-size: 1.2rem;
	}
}
/*media end*/
/*projects end*/

/*declaration start*/
.declaration h2{
	font-size: 0.8rem;
	font-weight: bold;
	padding-bottom: 0.5rem;
}
.declaration p{
	font-size: 0.6rem;
	padding-bottom: 1rem;
}
.declaration h3{
	font-style: italic;
	font-size: 0.6rem;
}
/*media start*/
@media (min-width: 360px){
	.declaration h2{
		font-size: 1.1rem;
		padding-bottom: 0.5rem;
	}
	.declaration p{
		font-size: 0.8rem;
		padding-bottom: 1.5rem;
	}
	.declaration h3{
		font-size: 0.7rem;
	}
}
@media (min-width: 768px){
	.declaration h2{
		font-size: 1.5rem;
		padding-bottom: 1rem;
	}
	.declaration p{
		font-size: 1rem;
		padding-bottom: 1.5rem;
	}
	.declaration h3{
		font-size: 1rem;
	}
}
@media (min-width: 1024px){
	.declaration h2{
		font-size: 1.7rem;
		padding-bottom: 1rem;
	}
	.declaration p{
		font-size: 1.2rem;
		padding-bottom: 1.5rem;
	}
	.declaration h3{
		font-size: 1.4rem;
	}
}


/*media end*/
/*declaration end*/