*{
	margin:auto;
	padding:auto;
}
body{
	background-image:url('./img/background.jpg');
	background-size:cover;
	background-repeat:no-repeat;
	height:50vh;
	background-attachment:fixed;
/*	color:white;
	;
	
	background-attachment:fixed;/	*scroll*/
}
.container{
	margin-left:100px;
}
.head2 {
	margin-left:200px;
	margin-top:10px;
}