*{
	padding: 0;
	margin: 0;
}
.main{
	background-image:url('./nature.jpg');
	background-size:cover;
	background-repeat: no-repeat;
	height: 100vh;
}
.navbar{
	width:1200px;
	height:75px;
	margin:auto;
}
.icon{
	width:200px;
	float:left;
	height:70px;
}
.logo{
	color:white;
	font-size:25px;
	font-family:arial;
	padding-left:20px;
	float:left;
	padding-top:10px;
}
.menu{
	width:400px;
	float: left;
	height: 70px;
}
ul{
	float:left;
	display:flex;
	justify-content:center;
	align-items:center;
	}
ul li{
	list-style:none;
	margin-left:62px;
	margin-top:27px;
	font-size:14px;
}
ul li a{
	text-decoration:none;
	color:white;
	font-family:georgia;
	font-weight:bold;
	transition:0.4s ease-in-out;
}
ul li a:hover{
	color:red;
}
.search{
	width:330px;
	float: left;
	margin-left: 270px;
}
.srch{
	font-family: timesnewroman;
	width:200px;
	height:40px;
	background: white;
	border: 1px solid orange;
	margin-top:15px;
	color:orange;
	border-right:none;
	font-size: 16px;
	float:left;
	padding: 10px;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	
}
.btn{
	width:100px;
	height:40px;
	background: orange;
	border: 2px ;
	margin-top:15px;
	color:white;
	font:15px arial;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}
.btn:focus{
	outline:none;
}
.srch:focus{
	outline:none;
}
