<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>web design layout</title>
	<style>
        header{
		    background-color:red;
		    }
		menu{
		    background-color:violet;
		    }
        content{
		    background-color:red;
		    }
	</style>
</head>

<body>
    <header>
	    <h2>HeadeR ContenT</h2>
	</header>
	<main class="flex container">
	    <menu>
		    <h3>Menu</h3>
			<ul>
			    <li>Home</li>
				<li>About</li>
				<li>Contact</li>
				<li>Help</li>
		    </ul>
	    </menu>
		<section>
		    <h3>ContenT</h3>
			<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur, facere. Quis earum, quae sapiente dolores et soluta animi deserunt corporis. </p>
	    </section>
		<aside>
		    <h3>AsidE</h3>
	    </aside>
	</main>
	<footer>
	    <h3>FooteR</h3>
	</footer>
</body>
</html>