*{
	padding: 0;
	margin: 0;
}
.container{
	margin:auto;
	width:84%;
}
.body1{
	background-image: url('../img/hero-bg.jpg');
	width: 100%;
	height: 72vh;
	padding-top: 50px;
	background-size: cover;
}
header{
	width: 100%;
	height: 11vh;
	background: #414c64;
	position: fixed;
	top: 0px;
}
.headtitle{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.headtitle1{
	width: 10%;
	margin-top: 3vh;
	color: #fff;
	font-family: sans-serif;
}
.navbar{
	width: 55%;
	margin-top: 4vh;
	font-family: sans-serif;
	font-size: 14px;
}
.navbar ul{
	display: flex;
	justify-content: space-between;
	
	list-style-type: none;
}
ul li a{
	color: #fff;
	text-decoration: none;
}
.content1{
	text-align: center;
	margin: 25vh;
}
.content1 h1{
	font-family: "Raleway", sans-serif;
	font-size: 40px;
    font-weight: bold;
    line-height: 56px;
    color: #fff
}
.content1 p{
    font-family: "Raleway", sans-serif;
	padding-top: 20px;
	font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: #fff
}
.content1 button{
	background-color: transparent;
	color: white;
	border-radius: 25px;
	margin-top: 30px;
	height: 40px;
	width: 150px;
	font-size: 16px;
	letter-spacing: 1px;
	border: 2px solid orange;
}
.content1 button:hover{
	background-color: orange;
	transition: all 0.5s ease-in-out;
}


#logo{
	height: 100px;
	padding: 30px 0;
}
.logoimg{
	display: flex;
	justify-content: space-around;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}
.logoimg img{
	filter: grayscale(100);
}
.logoimg img:hover{
	width: 85px;
	transition: all 0.3s ease;
	filter: none;
}
.client-1{
	width: 16%;
}
.client-2{
	width: 16%;
}
.client-3{
	width: 16%;
}
.client-4{
	width: 16%;
}
.client-5{
	width: 16%;
}
.client-6{
	width: 16%;
}


#about{
	padding: 10px 0px;
}
.about-info1{
	display: flex;
	justify-content: space-around;
	width: 100%;
	padding-top: 0px;
	padding-bottom: 60px;
}
.about-img1{
	display: flex;
	height: 60vh;
	width: 1000px;
	padding: 15px 10px;
	justify-content: space-between;
}
.about-img2{
	width: 1000px;
	margin: 10px 0;
	height: 60vh;
	padding: 15px 10px;
}
.about-h h2{	
	
	font-family: "Raleway", sans-serif;
    font-size: 35px;
    color: #414c64;
}
.about-h p{
	font-family: "open", sans-serif;
	font-size: 15px;
    color: #848484;
	padding-top: 10px;
	letter-spacing: 0.5px;
	line-height: 25px;
}
.about-flex{
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
}
.about-flex1{
	padding: 0 12px;
}
.about-flex1 h3{
	font-family: "raleway", sans-serif;
	font-size: 20px;
	color: #444444;
}
.about-flex1 p{
	font-family: "open", sans-serif;
	font-size: 15px;
	color: #848484;
	padding-top: 15px;
	letter-spacing: 1px;
	line-height: 20px;
}
.about-flex2 h3{
	font-family: "raleway", sans-serif;
	font-size: 20px;
	color: #444444;
}
.about-flex2 p{
	font-family: "open", sans-serif;
	font-size: 15px;
	color: #848484;
	padding-top: 15px;
	letter-spacing: 1px;
	line-height: 20px;
}


#count{
	padding-top: 40px;
	padding-bottom: 60px;
}
.count-img{
	display: flex;
	justify-content:space-around;
	text-align: center;
	letter-spacing: 1px;
	line-height: 40px;	
}
.count-img span{
	color: #444444;
	font-size: "open", sans-serif;
}
.count-img p{ 
	font-size: 48px;
    display: block;
    color: #414c64;
}


#service{
	height: 110vh;
	padding-top: 20px;
}
.service-content{
	padding: 0 0 30px;
	text-align: center;
	letter-spacing: 0.5px;
}
.service-h{
	font: 32px ralyway, sans-serif;
	color: #444444;
	margin-bottom: 20px;
	line-height: 20px;
	font-weight: 600;
}
.service-line{
	margin-bottom: 20px ;
	width: 60px;
	border: 2px solid #ffc107;
}
.sevice-p{
	font-family: "open", sans-serif;
	font-size: 14px;
    color: #7b8293;
}
.service-img{
	display: flex;
	width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: center;
	line-height: 30px;
	align-content: flex-start;
}
.service-img h2{
	font-family: "Raleway", sans-serif;
	font-size: 22px;
	color: #414c64;
}
.service-img p{
	font: 14px "open sans", sans-serif;
	color: #444444;
}
.service-img1{
	border: 1px solid black;
	height: 100px;
	padding: 70px 20px 80px;
	width: 25%;
	margin-bottom: 50px;
}
.service-img2{
	border: 1px solid black;
	height: 100px;
	padding: 70px 20px 80px;
	width: 25%;
}
.service-img3{
	border: 1px solid black;
	height: 100px;
	padding: 70px 20px 80px;
	width: 25%;
}
.service-img4{
	border: 1px solid black;
	height: 100px;
	padding: 70px 20px 80px;
	width: 25%;
}
.service-img5{
	border: 1px solid black;
	height: 100px;
	padding: 70px 20px 80px;
	width: 25%;
}
.service-img6{
	border: 1px solid black;
	height: 100px;
	padding: 70px 20px 80px;
	width: 25%;
}


#call{
	background-color: #414c64;
	width: 100%;
	height: 40vh;
	margin-top: 60px;
	text-align: center;
}
.call-content{
	padding-top: 60px;
	color: #fff;
}
.call-h{
	font-size: 28px;
    font-weight: 700;
	font-family: "Raleway", sans-serif;
	margin-bottom: 10px;
}
.call-p{
	font-family: "Open Sans", sans-serif;
	font-size: 16.5px;
}
.call-btn{
	background-color: transparent;
	border: 2px solid #ffc107;
	margin-top: 20px;
	width: 180px;
	height: 45px;
	padding: 10px;
	color: white;
	font: 17px "Open Sans", sans-serif;
	border-radius: 25px;
}
.call-btn:hover{
	background-color: #ffc107;
	transition: all 0.3s ease-in-out;
}


#testimonial{
	height: 110vh;

}
.testimonial-content{
	background-color: white;
	text-align: center;
	margin-top: 60px;
	line-height: 20px;
}
.testimonial-h{
	color: #444444;
	padding-bottom: 5px;
	font: 30px "Open Sans", sans-serif;
	font-weight: 600;
}
.test-line{
	margin-bottom: 20px ;
	width: 60px;
	border: 2px solid #ffc107;
}
.testimonial-p{
	font-family: "Open Sans", sans-serif;
	font-size: 15px;
	color:  #aab3c7;
}
.testimonial-img{
	height: 80vh;
	padding: 20px 30px;
	display: flex;
	justify-content: space-between;
}
.test-img1{
	padding-top: 60px;
	background-color: #fff;
	width: 27%;
	height: 50vh;
	line-height: 25px;
}
.test-img1 iconify-icon{
	color: #ffc989e6;
}
.test-img1 p{
	font-style: italic;
	font-size: 20px;
}
.test-img1 img{
	padding: 15px ;
	border-radius: 50%;
}
.test-img1 div{
	padding-left: 10px;
}
.test-img2{
	padding-top: 60px;
	background-color: #fff;
	width: 30%;
	height: 50vh;
	line-height: 25px;
}
.test-img2 iconify-icon{
	color: #ffc989e6;
}
.test-img2 p{
	font-style: italic;
	font-size: 20px;
}
.test-img2 img{
	padding: 15px ;
	border-radius: 50%;
}
.test-img2 div{
	padding-left: 10px;
}
.test-img3{
	padding-top: 60px;
	background-color: #fff;
	width: 30%;
	height: 50vh;
	line-height: 25px;
}
.test-img3 iconify-icon{
	color: #ffc989e6;
}
.test-img3 p{
	font-style: italic;
	font-size: 20px;
}
.test-img3 img{
	padding: 15px ;
	border-radius: 50%;
}
.test-img3 div{
	padding-left: 10px;
}


#portfolio{
	height: 160vh;
	width: auto;
}
.portfolio-content{
	width: auto;
	text-align: center;
	height: 150px;
}
.portfolio-h{
	color: #444444;
	padding-bottom: 5px;
	font: 30px "Open Sans", sans-serif;
	font-weight: 600;
}
.portfolio-line{
	margin-bottom: 20px ;
	width: 60px;
	border: 2px solid #ffc107;
}
.portfolio-image{
	display: flex;
	width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: flex-start;
}
.portfolio-image .img-1{
	margin-bottom: 20px;
}
.portfolio-image .img-4{
	margin-bottom: 20px;
}
.portfolio-image .img-7{
	margin-bottom: 20px;
}	


#team{
	width: 100%;
	height: 100vh;
	margin-top: 60px;
}
.team-content{
	text-align: center;
	padding-top: 20px;
}
.team-line{
	margin-bottom: 20px ;
	width: 40px;
	border: 2px solid #ffc107;
}
.team-image{
	padding-top: 35px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	text-align: center;
}
.team-image img{
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}
.team-image1{
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	padding-bottom: 30px;
	border: 1px solid gray;
}
.team-image1 h3{
	padding-top: 10px;
}
.team-image2{
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	padding-bottom: 30px;
	border: 1px solid gray;
}
.team-image2 h3{
	padding-top: 10px;
}
.team-image3{
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	padding-bottom: 30px;
	border: 1px solid gray;
}
.team-image3 h3{
	padding-top: 10px;
}
.team-image4{
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	padding-bottom: 30px;
	border: 1px solid gray;
}
.team-image4 h3{
	padding-top: 10px;
}


#pricing{
	width:100%;
	height:100vh;
	text-align: center;
}
.pricing-content{
	padding-top: 20px;
}
.pricing-line{
	margin-bottom: 20px ;
	width: 50px;
	border: 2px solid #ffc107;
}
.pricing-image{
	padding-top: 25px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	text-align: center;
}
.pricing-image .strike{
	font-family: "poppins", sans-serif;
	color: #bababa;
	text-decoration: line-through;
}
.p-detail1{
	width: 23%;
	height: 70vh;
	background-color: white;
	border: 1px solid orange;
	border-radius: 5px ;
}
.p-detail1 h3{
	padding-top: 20px;
	padding-bottom: 20px;
	/*background-color: #ffc107; */
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-family: "raleway", sans-serif; 
	font-size: 18px;
	font-weight: 600;
	color: #777777;
}
.p-detail1-sup{
	font-size: 40px;
	font-weight: 700;
	padding-top: 20px;
	color: #ffc107;
	font-family: "raleway", sans-serif;
}
.p-detail1-sup sup{
	font-size: 20px;
}
.p-detail1 span{
	color :  #bababa;
	font-family: "poppins", sans-serif;
	font-size: 20px;
	font-weight: 100;
}
.p-detail1 p{
	padding-top: 12px;
	font-size: 14px;
	font-family: "open-sans", sans-serif;
	color: #444444;
}
.p-detail1 button{
	margin-top: 50px;
	color: #6c7c9f;
	font-size: 14px;
	font-weight: 530;
	padding: 15px 40px;
	border-radius: 5px;
	border: 2px solid #c8cedc;
	cursor: pointer;
}

.p-detail2{
	width: 23%;
	height: 70vh;
	background-color: white;
	border: 1px solid orange;
	border-radius: 5px ;
}
.p-detail2 h3{
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #ffc107;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-family: "raleway", sans-serif; 
	font-size: 18px;
	font-weight: 600;
	color: #fff;
}
.p-detail2-sup{
	font-size: 40px;
	font-weight: 700;
	padding-top: 20px;
	color: #ffc107;
	font-family: "raleway", sans-serif;
}
.p-detail2-sup sup{
	font-size: 20px;
}
.p-detail2 span{
	color :  #bababa;
	font-family: "poppins", sans-serif;
	font-size: 20px;
	font-weight: 100;
}
.p-detail2 p{
	padding-top: 12px;
	font-size: 14px;
	font-family: "open-sans", sans-serif;
	color: #444444;
}
.p-detail2 button{
	margin-top: 50px;
	color: #fff;
	font-size: 14px;
	font-weight: 530;
	padding: 15px 40px;
	border-radius: 5px;
	border: 2px solid #ffc107;
	cursor: pointer;
	background-color: #ffc107;
}


.p-detail3{
	width: 23%;
	height: 70vh;
	background-color: white;
	border-radius: 5px ;
	border: 1px solid orange;
}
.p-detail3 h3{
	padding-top: 20px;
	padding-bottom: 20px;
	/*background-color: #ffc107;*/
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-family: "raleway", sans-serif; 
	font-size: 18px;
	font-weight: 600;
	color: #777777;
}
.p-detail3-sup{
	font-size: 40px;
	font-weight: 700;
	padding-top: 20px;
	color: #ffc107;
	font-family: "raleway", sans-serif;
}
.p-detail3-sup sup{
	font-size: 20px;
}
.p-detail3 span{
	color :  #bababa;
	font-family: "poppins", sans-serif;
	font-size: 20px;
	font-weight: 100;
}
.p-detail3 p{
	padding-top: 12px;
	font-size: 14px;
	font-family: "open-sans", sans-serif;
	color: #444444;
}
.p-detail3 button{
	margin-top: 50px;
	color: #6c7c9f;
	font-size: 14px;
	font-weight: 530;
	padding: 15px 40px;
	border-radius: 5px;
	border: 2px solid #c8cedc;
	cursor: pointer;
}
.p-detail4{
	width: 23%;
	height: 70vh;
	background-color: white;
	border-radius: 5px ;
	border: 1px solid orange;
}
.p-detail4 h3{
	padding-top: 20px;
	padding-bottom: 20px;
	/*background-color: #ffc107;*/
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-family: "raleway", sans-serif; 
	font-size: 18px;
	font-weight: 600;
	color: #777777;
}
.p-detail4-sup{
	font-size: 40px;
	font-weight: 700;
	padding-top: 20px;
	color: #ffc107;
	font-family: "raleway", sans-serif;
}
.p-detail4-sup sup{
	font-size: 20px;
}
.p-detail4 span{
	color :  #bababa;
	font-family: "poppins", sans-serif;
	font-size: 20px;
	font-weight: 100;
}
.p-detail4 p{
	padding-top: 12px;
	font-size: 14px;
	font-family: "open-sans", sans-serif;
	color: #444444;
}
.p-detail4 button{
	margin-top: 50px;
	color: #6c7c9f;
	font-size: 14px;
	font-weight: 530;
	padding: 15px 40px;
	border-radius: 5px;
	border: 2px solid #c8cedc;
	cursor: pointer;
}


#faq{
	width:100%;
	height:80vh;
	padding-top: 60px;
	background-color: brown;
}
.faq-h{
	font-size: 32px;
    font-weight: bold;
	font-family: "Raleway", sans-serif;
}
.faq-p{
	font-family: "open-sans", sans-serif;
	font-size: 16px;
	color: #aab3c7;
}
.faq-content{
	padding-top: 20px;
	height: 20vh;
	text-align: center;
}
.faq-line{
	margin-bottom: 20px ;
	width: 50px;
	border: 2px solid #ffc107;
}
.faq-details{
	margin-left: 130px;
	margin-right: 130px;
	padding: 30px;
	padding-bottom: 40px; 
}
.faq p{
	font-family: "Open Sans", sans-serif;
    color: #444444;
}
.faq-h1{
	padding-bottom: 40px;
}
.faq-h2{
	padding-bottom: 40px;
}
.faq-h3{
	padding-bottom: 40px;
}
.faq-h4{
	padding-bottom: 40px;
}
.faq-h5{
	padding-bottom: 40px;
}
summary:hover{
	color: #ffc107;
	transition: all 0.2s ease-in-out;
}
.faq-details summary{
	font-family: "Poppins", sans-serif;
    font-size: 16px;
}


#contact{
	background-color: #8b9976;
	height: 100vh;
	text-align: center;
}
.contact-content{
	padding-top: 2vh;
	width: auto;
	background-color: #9C5294;
	height: 20vh;
}
.contact-line{
	margin-bottom: 20px ;
	width: 50px;
	border: 2px solid #ffc107;
}
.contact-details{
	display: flex;
	justify-content: space-between;
}
.c-details1{
	padding: 10px 10px;
	width: 50%;
	background-color: red;
}
.c-d-1{
	margin-bottom: 10px;
	background-color: white;
	padding: 30px;
	line-height: 30px;
}
iconify-icon{
	font-size: 30px;
	padding: 10px;
	border-radius: 50%;
	border: 2px dotted #fbe49f;
	color: #ffc107;
}
.c-d-2{
	background-color: yellow;
	display: flex;
	justify-content: space-around;
	line-height: 20px;
}
.c-d-2a{
	color: red;
	padding: 20px 70px;
	background-color: brown;
}
.c-d-2b{
	color: red;
	padding: 20px 70px;
	background-color: brown;
}
.c-details2{
	width: 50%;
} /*
	background-color: yellow;
/*

#contact{
	
	width: 100%;
	height: 115vh;
	background-color: pink;
	margin-top: 60px;
}

.contact-h{
	height: 7vh;
	margin-left: 450px;
	margin-right: 450px;
	background-color: #ED9AE4;
}
.contact-p{
	margin-top:10px;
	margin-left: 100px;
	margin-right: 100px;
	height: 15vh;
	background-color: #EAD3E7;
	
}
.contact-details{
	background-color: #fff;
	width: 100%;
	height: 70vh;
	margin-top:8vh;
	display: flex;
	padding-top: 2vh;
	justify-content: space-between;
}
.c-details1{
	background-color: #EAD3E7;
	width: 48%;
	height: 68vh;
	margin-left: 2vh;
	
}
.c-details2{
	background-color:  #EAD3E7;
	width: 48%;
	height: 68vh;
	margin-right: 2vh;
}

#footer-sec{
	width: 100%;
	height: 55vh;
	margin-top: 8vh;
	background-color: #8E898D;
	padding-top: 1vh;
}
.footer-sec1{
	width: auto;
	height: 48vh;
	margin-top: 5vh;
	background-color: #CDC4CC;
}

.footer-sec2{
	width: 100%;
	height: 15vh;
	background-color: #433457;
} 