*{
	padding:0px;
	margin:0px;
}
.container{
	margin:auto;
	width:84%;
}
#body1{
	background-color:rgb(81 92 111);
	height:300px;
	padding-top:150px;

}
header{
	background-color:rgba(55 64 85 / 90%);
	height:70px;
	width:100%;
	position:fixed;
	top:0;
}
.headtitle{
	display:flex;
	
}
.headtitle1{
	padding:20px 12px;
	width:10%;
	background-color:#90A4A7;
}
.navbar{
	width:70%;
	background-color:#90A4A7;
	margin-left:350px;
}
.content1{
	background-color:#B8C9CB;	
	height:200px;
	margin-left:200px;
	margin-right:200px;
}

/*----------------------------------------------------------------------------------*/

#logo{
	background-color:#EDEFD6;
	height:100px;
	display:flex;
	margin:15px 0;
}
.logoimg{
	display:flex;
	justify-content:space-between;
}
.client-1{
	width:100px;
	height:50px;
	background-color:#F9D0CD;
}
.client-2{
	width:100px;
	height:50px;
	background-color:#F9D0CD;
}
.client-3{
	width:100px;
	height:50px;
	background-color:#F9D0CD;
}
.client-4{
	width:100px;
	height:50px;
	background-color:#F9D0CD;
}
.client-5{
	width:100px;
	height:50px;
	background-color:#F9D0CD;
}
.client-6{
	width:100px;
	height:50px;
	background-color:#F9D0CD;
}

/*------------------------------------------------------------------------------------*/

#about{
	background-color:#F5D0A1;
	height:80vh;
}
.about-info1{
	display:flex;
	background-color:#F5B25D;
	height: 75vh;
	padding:15px 10px;
	justify-content:space-between;
	
}
.about-img1{
	background-color:#DB8A21;
	width:49%;
	height:350px;
	margin:60px 0;
}

.about-img2{
	background-color:#DB8A21;
	width:49%;
	margin:60px 0;
	height:350px;
}


/*-------------------------------------------------------------------------*/


#count{
	background-color:#BDEDB5;
	height:150px;
	display:flex;
	margin:15px 0;
}
.count-img{
	display:flex;
	justify-content:space-between;
}
.count-1{
	width:100px;
	height:50px;
	background-color:#5BE346;
}
.count-2{
	width:100px;
	height:50px;
	background-color:#5BE346;
}
.count-3{
	width:100px;
	height:50px;
	background-color:#5BE346;
}
.count-4{
	width:100px;
	height:50px;
	background-color:#5BE346;
}

/*-------------------------------------------------------------------------------*/

.service{
	background-color: #E6F0A4;
	height: 140vh;
	padding-top:20px;
}
.service-content{
	background-color:#D4EC2B;
	height:150px;
	padding-top:10px;
	margin-top:0px;
}
.service-h{
	background-color:#ADC215;
	height: 20px;
	padding: 15px;
	margin: 0px 500px;
}
.sevice-p{
	background-color: #ADC215;
	height: 70px;
	margin:20px 20px;
}

.service-img{
	background-color:#fff;
	height:99vh;
	width:100%;
	padding-top:10px;
	margin-top:30px;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
} 

.service-img1{
	background-color:#CDCEC6;
	height:300px;	
	width:330px;
	
}
.service-img2{
	background-color:#CDCEC6;
	height:300px;
	width:330px;
	
}
.service-img3{
	background-color:#CDCEC6;
	height:300px;
	width:330px;
	
}
.service-img4{
	background-color:#CDCEC6;
	height:300px;
	width:330px;
	
}
.service-img5{
	background-color:#CDCEC6;
	height:300px;
	width:330px;
	
}
.service-img6{
	background-color:#CDCEC6;
	height:300px;
	width:330px;
	
}

/*-------------------------------------------------------------------------------------*/

.call{
	background-color:#414c64;
	width:100%;
	height:40vh;
	margin-top:60px;
	text-align:center;
}
.call-content{
	background-color:#617781;
	height:40vh;
}
/*.call-h{
	background-color:red;
	width:auto;
	padding-top:40px;
	margin-left:100px;
	margin-right:100px;
	height:50px;
}*/
.call-btn{
	background-color:transparent;
	border:2px solid orange;
	padding:10px;
	margin-top:200px;
	color:white;
	border-radius:25px;
}

/*----------------------------------------------------------------------------------*/

#testimonial{
	background-color:#E8C0F0;
	height:110vh;
	width:auto;
	margin-top:60px;
}
.testimonial-content{
	background-color:#771389;
	padding-top:30px;
	width:auto;
	height:35vh;
}
.testimonial-h{
	height:30vh;
	margin-left:50px;
	margin-right:50px;
	width:auto;
	background-color:#D6AFDE;
}
.testimonial-img{
	height:70vh;
	width:100%;
	display:flex;
	justify-content:space-between;
	background-color:#AE49C0;
}
.test-img1{
	background-color:#F2AAFF;
	width:30%;
	height:66vh;
	margin-top:2vh;
	margin-left:3vh;
}
.test-img2{
	background-color:#F2AAFF;
	width:30%;
	height:66vh;
	margin-top:2vh;
	
}
.test-img3{
	background-color:#F2AAFF;
	width:30%;
	height:66vh;
	margin-top:2vh;
	margin-right:3vh;
}

/*----------------------------------------------------------------*/

#portfolio{
	background-color:#E2FCD6;
	height:110vh;
	width:auto;
	margin-top:60px;
}
.portfolio-content{
	background-color:#A9FD7F;   /*#CBF7B5;*/
	width:auto;
	height:150px;
}
.portfolio-image{
	margin-top:40px;
	background-color:red;
	height:200px;
}