*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header{
	background-color: yellow;
}
.drop-down{
	display: flex;
	justify-content: center;
	margin-top:0px;
	list-style: none;
}
a{
	font-family: georgia;
	font-size: 30px;
	display: block;
	width: 250px;
	background-color: red;
	color: white;
	padding: 10px 0;
	text-decoration: none;
	text-align: center;
}
a:hover{
	color: red;
	transition: all 1s ease;
	background-color: bisque;
}
.products{
	list-style: none;
	display: none;
}
.drop-down li:nth-child(2):hover .products{
	display: block;
	
}
.book{
	list-style: none;
	transform: translateX(250px) translateY(-50px);
	position: absolute;
	display: none;
}
.products li:nth-child(3):hover .book{
	display: block;
	
}