/*selectors*/

/*1.simple selectors*/

#name{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
	color: red;
	/*id selector*/
}
.paragraph{
	font-family: georgia;
	color: orange;
	font-weight: bold;
	/*class selector*/
}
.simple h2,h3,h4{
	color: brown;
	/*group selector*/
}
*{
	margin-left: 10px;
	/*global or universal selector*/
}

/*2.combinator selectors*/

.combinator p{
	background: yellow;
	font-size: 2rem;
	/*descendant selector*/
}
.combinator > h2{
	color: green;
	background-color: pink;
	padding: 10px;
	font-size: 20px;
	/*child selector*/
}
.combinator p + h2{
	color: black;
	/*adjacent sibiling*/
}
.combinator h2 ~ p  {
	background-color: black;
	color: blue;
	/*general sibiling*/
}

/*3.psuedo-element-selector*/

.psuedo-element h1::first-line{
	color: skyblue;
	font-size: 40px;
	/*first-line peuedo element*/
}
.psuedo-element p::first-letter{
	color: red;
	font-size: 50px;
	font-weight: bold;
	/*first-letter psuedo element*/
}
.psuedo-element h3::before{
	content: " <h2>THIS IS BEFORE_PSUEDO</h2>" ;
	color: red;
	font-size: 30px;
	/*before psuedo element*/
}
.psuedo-element h3::after{
	content: " Im front-end web developer";
	color: green;
	text-transform: uppercase;
	font-size: 30px;
	/*after psuedo element*/
}
.psuedo-element ul li::marker{
	color: green;
	font-size: 50px;
	/*marker psuedo element*/
}
.psuedo-element .in li::marker{
	color: red;
	font-size: 20px;
	/*marker psuedo element*/
}
::selection{
	color: white;
	background-color: pink;
	/*selection psuedo element*/
}

/* 4.Psuedo class selector*/

.psuedo-class a:link{
	color: yellow;
	/*link psuedo-class*/
}
.psuedo-class a:visited{
	color: red;
	/*link psuedo-class*/
}
.psuedo-class p:hover{
	color: green;
	background: yellow;
	font-size: 30px;
	/*hover psuedo-class*/
}
