@import url("b.css");
h2{
	color: red;
}
h3{
	color: yellow;
}
@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Regular.eot");
    src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}
.font-fac{
    background: black;
	font-family: "OpenSans", Arial, sans-serif;
    font-size: 1.2em;
	color: white;
}
div h3{
	background: red !important;
}
.key {
  font-size: 1.5rem;
  width: 110px;
  height: 100px;
  background: red;
  position: relative;
  animation: mymove 10s infinite;
}

@keyframes mymove{
  0%{
	left: 0px;
	background: red;
	}
  25%{
	left: 200px;
  	background: yellow;
    }
  75%{
	left: 50px;
	background: green;
	}
  100%{
	left: 100px;
	background: black;
	}
}
h3{
	background: yellowgreen !important;
}