body{
	margin:0px;
	background-color: #f5f5f5;
	box-sizing: border-box;
}
.container{
	margin:0 9%;
}
.dflex{
	display:flex;
}
.alignitemcenter{
	align-items:center;
}
.text-align-center{
	text-align: center;
}
.justifycontentspacebetween{
	justify-content:space-between;
}
.justifycontentspacearound{
	justify-content: space-around;
}
.margin-top{
	margin-top: 4rem;
}
.margin-left{
	margin-left: 4rem;
}
.margin-right{
	margin-right: 4rem;
}
.margin-bottom{
	margin-bottom: 4rem;
}
.span-p{
	font-weight: 700;
	font-size: 1.2rem;
}
.flex-wrap{
	flex-wrap: wrap;
	display: flex;
}
.bg-white{
	background-color: white;
	border-radius: 1rem;
}
.underline{
	margin-left: 48%;
	width: 4%;
	height: 0.4rem;
	background-color: #0078ff;
}
/* --header tag starting -- */
header{
	background-color: rgba(0,0,0,0.5);
	color: white;
	position: fixed;
	width: 100%;
}
nav{
	width: 62%;
}
nav li{
	list-style: none;
}
/* --banner starting-- */
.banner{
	background-image:url("../img/hero-bg.jpg");
	width:100%;
	height:100vh;
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center;
	position:relative;
	background-attachment: fixed;
	z-index: -1;
}
.banner-content{
	position: absolute;
	color: white;
	height: 200px;
	margin-top: 230px;
	margin-left: 400px;
	z-index: 1; 
}
.banner-content h1{
	font-size: 4rem;
	margin : 0;
}
.banner-content p{
	font-size: 3rem;
	margin: 20px;
}
.banner::after{
	content:"";
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color:rgba(0,0,0,0.6);
	opacity:0.9;
}
/*about section starting*/
.about{
	background-color: white;
	margin: 5% 9%;
	box-shadow:  0 2px 5px 0 rgb(0 0 0 / 20%);
}
.lang-known{
	width: 100%;
	background-color: #cde1f8; /*#0078ff*/
	height: 0.8rem;
}
.left-side{
	width: 49%;
	padding: 10px;
}
.right-side{
	width: 49%;
	line-height: 1.8rem;
	padding: 10px;
	font-size: 20px;
}
.right-side h2{
	margin-top: 0;
	margin-bottom: 5px;
}
.about-profile-1 img{
	border-radius: 0.5rem;
}
.right-side div{
	top: 0;
	background-color: #0078ff;
	width: 5rem;
	height: 0.15rem;
}
.html85{
	width: 85%;
	background-color: #0078ff;
	height: 0.8rem;
}
.css75{
	width: 75%;
	background-color: #0078ff;
	height: 0.8rem;
}
.php50{
	width: 50%;
	background-color: #0078ff;
	height: 0.8rem;
}
.js90{
	width: 90%;
	background-color: #0078ff;
	height: 0.8rem;
}
/* service section starting*/
.wrap-width{
	width: 26%;
}
.wrap-1{
	margin-bottom: 3rem;
	padding: 2rem 2rem 3rem 2rem;
	box-shadow:  0 2px 5px 0 rgb(0 0 0 / 20%);
}
.wrap-1 .icon-bg{
	padding: 2rem;
}
.wrap-1 .icon-bg i{
	font-size: 2.5rem;
	padding: 1.8rem 1.9rem;
	border: 0.7rem solid #0078ff;
	border-radius: 50%;
}
.wrap-1:hover i{
	border-color: #cde1f8;
	color: white;
	background-color: #0078ff;
	transition: all 0.5s ease;
}
.wrap-2{
	padding: 2rem 2rem 3rem 2rem;
	box-shadow:  0 2px 5px 0 rgb(0 0 0 / 20%);
}
.wrap-2 .icon-bg{
	padding: 2rem;
}
.wrap-2 .icon-bg i{
	font-size: 2.5rem;
	padding: 1.8rem 1.9rem;
	border: 0.7rem solid #0078ff;
	border-radius: 50%;
}
.wrap-2:hover i{
	border-color: #cde1f8;
	color: white;
	background-color: #0078ff;
	transition: all 0.5s ease;
}
/*achievements section stating*/
.achievements{
	background-image: url("../img/counters-bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 70vh;
	background-attachment: fixed;
	position: relative;
}
.achievements::after{
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #0078ff;
	opacity: 0.7;
}
.achiev-rewards{
	position:relative;
	z-index:1;
	justify-content:space-between;
	margin: 10rem 5rem;
}
.reward-icon{
	width: 24%;
	font-size: 1.2rem;
	color: white;
	margin: 8rem auto;
}
.icon-style{
	padding: 2rem;
}
.icon-style i{
	font-size: 2rem;
	padding: 0.8rem;
	border-radius: 50%;
	border: 0.67rem solid #cde1f8;
}
/*---portfolio section starting---*/
.port-1{
	box-shadow:  0px 5px 5px 0px rgba(0 0 0 / 20%);
	width: 32%;
	margin-bottom: 3rem;
}
.port-top img{
	width: 100%;
}
.port-bottom i{
	font-size: 2.5rem;
}
.port-1 a{
	color: #0078ff;
}
/*---work section starting---*/
.work{
	background-image: url("../img/overlay-bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 90vh;
	background-attachment: fixed;
	position: relative;
	justify-content: center;
}
.work::after{
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #0078ff;
	opacity: 0.7;
}
.work div{
	position: absolute;
	z-index: 2;
}
.work-section{
	margin-top: 10rem;
	justify-content: center;
}
.work-section img{
	border-radius: 50%;
}
/* ----blog section start--- */
.blog-flex{
	width: 100%;
	position: relative;
}
.blog-content{
	border: 1px solid silver;
	width: 32%;
	border-radius: 10px;
	position: relative;
}
.blog-content img{
	width: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.blog-top img{
	background-image: url("../img/post-1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 37vh;
}
.blog-top p{
	margin-top: -22px;
	margin-left: 8.5rem;
	padding: 8px;
	border-radius: 0.5rem;
	font-size: 1rem;
	background-color: #0078ff;
	color: white;
	z-index: 0;
	display: in-line-block;
    position: absolute;
}
.img-content{
	padding-left: 1rem;
}
.img-details{
	position: relative;
}
.img-details img{
	padding: 1rem;
	width: 8%;
	height: 8%;
	border-radius: 50%;
	
}
.img-details p{
	position: absolute;
	left: 3.2rem;
	
	font-size: 18px;
	
}
.img-details i{
	font-size: 1.2rem;
	position: absolute;
	right: 1.5rem;
	top: 1rem;
}