*{
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}
.container{
	margin: auto;
	width: 85%;
}
.dflex{
	display:flex;
}
.alignitemcenter{
	align-items:center;
}
.justifycontentspacebetween{
	justify-content:space-between;
}
.text-align-center{
	text-align: center;
}
header{
	background-color: black;
	color: white;
}
.banner{
	background:url(img/hero-bg.jpg);
	width:100%;
	background-size:cover;
	height:100vh;
	position:relative;
}
.banner::after{
	content:"";
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color:rgba(0,0,0,0.6);
	opacity:0.6;
}
.banner-content{
	position:relative;
	color: white;
	z-index:1;
}